.footer {
    align-items: center;
    background: #343c55;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .footer-text {
      display: flex;
      font-size: 12px;
      gap: 12px;
    }
    .nav-links {
      display: flex;
      font-size: 12px;
      gap: 12px;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid #827d7d;
          color: #545252;
          font-weight: 500;
        }
      }
    }
  }