<!--footer-->
<section class="main-section">
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="left">
                    <p>Developed with love by <a href="#" rel="noreferrer" target="_blank">venkadesh</a> © 2024</p>
                </div>
                <div class="right">
                    <ul><li><a href="#">Terms &amp; Condition</a></li><li><a href="#">Privacy Policy</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</section>