.footer {
  align-items: center;
  background: #343c55;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 16px 40px;
  position: relative;
  right: 0;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 12px 20px;
    text-align: center;
  }
  .footer-text {
    display: flex;
    font-size: 12px;
    gap: 12px;
  }
  .nav-links {
    display: flex;
    font-size: 12px;
    gap: 12px;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        border-bottom: 1px solid #827d7d;
      }
    }
    @media only screen and (max-width: 768px) {
      margin-top: 10px;
    }
    @media only screen and (max-width: 320px) {
      gap: 8px;
    }
  }
}