.key-skills {
    clear: both;
    float: left;
    height: auto;
    margin-top: 24px;
    width: 100%;
  
    .features {
      clear: both;
      float: left;
      height: auto;
      margin-bottom: 20px;
      width: 100%;
  
      .container {
        .features_list {
          height: auto;
          width: 100%;
  
          ul {
            list-style-type: none;
            margin: 0 0 0 -70px;
  
            li {
              animation-duration: 1s;
              float: left;
              margin: 0 0 70px;
              padding-left: 70px;
              visibility: visible;
              width: 33.3333%;
              .list_inner {
                clear: both;
                float: left;
                height: auto;
                position: relative;
                width: 100%;
  
                .short {
                  align-items: center;
                  display: flex;
                  float: left;
                  justify-content: space-between;
                  margin-bottom: 32px;
                  padding-bottom: 32px;
                  position: relative;
                  width: 100%;
                  @media screen and (max-width: 1023px) {
                    margin-bottom: 16px;
                    padding-bottom: 16px;
                  }
                  span {
                    color: #fb503b;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px;
                  }
                  h3 {
                    font-size: 1.5rem;
                    @media screen and (max-width: 1023px) {
                      font-size: 1.125rem;
                    }
                  }
                  .svg {
                    height: 60px;
                    width: 60px;
                  }
  
                  title {
                    padding-right: 20px;
                  }
                }
                .short:before {
                  background-color: #cacdd3;
                  bottom: 0;
                  content: "";
                  height: 1px;
                  left: 0;
                  position: absolute;
                  width: 100%;
                }
                .short:after {
                  background-color: #8d8d8e;
                  bottom: 0;
                  content: "";
                  height: 1px;
                  left: 0;
                  position: absolute;
                  transition: all 0.3s ease;
                  width: 0;
                  z-index: 1;
                }
                .text {
                  p {
                    color: #54545f;
                    font-size: 1.125rem;
                    @media screen and (max-width: 1023px) {
                      font-size: 0.875rem;
                    }
                  }
                }
              }
              @media (max-width: 767px) {
                margin: 0 0 12px;
                padding-left: 40px;
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
  