/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  letter-spacing: 0.25px;
  margin: 0;
  padding: 0;
}