/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

html,
body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    letter-spacing: 0.25px;
    margin: 0;
    padding: 0;
}

.main {
    height: auto;
    width: 100%;

    .main-hero-section {
        box-sizing: border-box;
        float: left;
        // margin-bottom: 50px;
        min-height: calc(100vh - 130px);
        overflow: hidden;
        padding: 5rem 0;
        position: relative;
        width: 100%;

        @media screen and (max-width: 768px) {
            align-items: center;
            display: flex;
            min-height: calc(100vh - 100px);
            padding: 2.5rem 0;
        }

        .background {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            .image {
                background-image: url(/assets/images/bg.jpg);
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                // min-height: calc(100vh - 130px);
                width: 100%;
            }
        }

        .content {
            align-items: flex-start;
            display: flex;
            height: 100%;
            justify-content: space-between;
            width: 100%;

            .left {
                position: relative;
                width: 45%;

                @media screen and (max-width: 1024px) {
                    text-align: center;
                    width: 100%;
                }

                .inner {
                    position: relative;
                    z-index: 2;

                    .hello {
                        color: #fff;
                        font-size: 2.25rem;
                        margin-bottom: 3px;

                        @media (max-width: 1024px) {
                            font-size: 1.75rem;
                        }
                    }

                    .name {
                        color: #fff;
                        font-size: 77px;
                        line-height: 1.1;
                        margin-bottom: 24px;

                        @media (max-width: 1024px) {
                            font-size: 36px !important;
                        }
                    }

                    .job {
                        color: #fff;
                        font-size: 26px;
                        margin-bottom: 33px;

                        @media (max-width: 1024px) {
                            font-size: 18px !important;
                        }
                    }

                    .text {
                        color: #fff;
                        font-size: 1rem;
                        margin-top: 40px;

                        @media (max-width: 768px) {
                            font-size: 0.825rem;
                        }
                    }

                    .buttons {
                        align-items: center;
                        display: flex;
                        width: 100%;

                        @media (max-width: 1024px) {
                            justify-content: center;
                        }

                        .simple-button {
                            clear: both;
                            float: left;
                            height: auto;
                            width: auto;

                            a {
                                background-color: #4c5aa4;
                                border: 1px solid #4c5aa4;
                                border-radius: 50px;
                                color: #fff;
                                cursor: pointer;
                                display: inline-block;
                                font-size: 1rem;
                                margin-top: 20px;
                                padding: 8px 20px;
                                text-decoration: none;
                                transition: all 0.3s ease;

                                &:hover {
                                    background-color: #6e7aba;
                                    border: 1px solid #4c5aa4;
                                }

                                @media (max-width: 768px) {
                                    font-size: 0.825rem;
                                }
                            }
                        }

                        .about-me {
                            margin-left: 50px;

                            @media screen and (max-width: 1024px) {
                                margin-left: 20px !important;
                            }

                            a {
                                color: #fff;
                                display: inline-block;
                                font-size: 18px;
                                font-weight: 600;
                                position: relative;
                                text-decoration: none;
                                top: -2px;
                            }
                        }
                    }
                }
            }

            .right {
                padding-left: 250px;
                width: 55%;

                @media screen and (max-width: 1024px) {
                    padding-left: 0 !important;
                }

                .image {
                    position: relative;

                    .win {
                        background-color: #fff;
                        border-radius: 12px;
                        display: inline-block;
                        height: 125px;
                        position: absolute;
                        right: 0;
                        right: -40px;
                        top: 0;
                        top: -40px;
                        width: 125px;

                        @media screen and (max-width: 1024px) {
                            right: -20px !important;
                        }

                        .svg {
                            height: 65px;
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 65px;
                        }
                    }

                    img {
                        min-height: 500px;
                        min-width: 100% !important;
                        opacity: 0;
                        position: relative;
                    }

                    .main {
                        background-image: url(/assets/images/profile-home.jpg);
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 12px;
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    .numbers.year {
                        left: -85px;
                        top: 100px;

                        .wrapper {
                            align-items: center;
                            background-color: #fff;
                            border-radius: 8px;
                            display: flex;
                            // padding: 20px 25px 24px;
                            padding: 12px 24px;

                            h3 {
                                color: #50c5f0;
                                font-size: 54px;
                                font-weight: 700;
                                line-height: 1;
                                position: relative;
                            }

                            .item_name {
                                color: #000;
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 1.3;
                                padding-left: 14px;
                                position: relative;
                            }
                        }
                    }

                    .numbers.project {
                        bottom: 60px;
                        left: -85px;

                        @media screen and (max-width: 1024px) {
                            bottom: -30px !important;
                            margin-left: -178px !important;
                        }

                        .wrapper {
                            align-items: center;
                            background-color: #fff;
                            border-radius: 8px;
                            display: flex;
                            // padding: 15px 20px 19px;
                            padding: 12px 24px;

                            h3 {
                                color: #f05c6e;
                                font-size: 54px;
                                font-weight: 700;
                                line-height: 1;
                                position: relative;

                                .extra {
                                    font-size: 28px;
                                    position: absolute;
                                    top: -1px;
                                }
                            }

                            .item_name {
                                color: #000;
                                font-family: var(--font-family-extra);
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 1.3;
                                padding-left: 29px;
                                position: relative;
                                top: 2px;
                            }
                        }
                    }

                    .numbers {
                        position: absolute;
                    }
                }
            }
        }
    }
}