<!--main section-->
<section class="main">
    <!--hero section-->
    <div class="main-hero-section">
      <div class="background">
        <div class="image"></div>
      </div>
      <div class="container">
        <div class="content">
          <div class="left">
            <div class="inner">
              <h3 class="hello">Welcome to Portfolio App!</h3>
              <p></p>
              <p class="text">
                The Portfolio App is a web application that showcases the list of fictional portfolios in a card view (list of cards). 
                This has been developed using Angular v18. This app supports all the modern browsers and different screen resolutions.   
              </p>
              <p class="text">This app consists of 2 main components that are Home and Portfolio and can navigate through the Menu's that are present in the application header.</p>
              <div class="buttons">
                <div class="simple-button"><a class="anchor" (click)="navigateToPortfolio()">Know about developer</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  